<div class="area">
   <!-- <div class="col-12">lo</div> -->
   <h1 class="h1style">Hello My name is AOM</h1>
   <!-- <div data-aos="fade-up" data-aos-anchor-placement="top-center" > -->
   <div data-aos="fade-up"  >
     <h2 class="h2style">I create stuff something fun</h2>
     <div class="col-6 p-0">
       <h3 class="h3style">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iure minus, modi dolorem praesentium minima, omnis voluptas maxime totam deserunt, nesciunt itaque labore dolor et qui veritatis eaque ipsum voluptates?</h3>
     </div>
   </div>

</div>


