.area{
  /* background-color: aqua; */
    height: 100vh;
  /* height: auto; */
  padding-top: 15%;
  padding-left: 15%;
}
.h1style{
  color: white;
  font-size: 5em;
  /* padding: 0em; */
  margin: 0em;

}
.h2style{
  color: gray;
  font-size: 2.5em;
  /* padding: 0em; */
  margin: 0em;
}

.h3style{
  color: gray;
  margin: 0em;
}
