<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <h1 class="h1style">Hello My name is AOM</h1>
  <!-- <div data-aos="fade-up" data-aos-anchor-placement="top-center" > -->
  <div data-aos="fade-up">
    <h2 class="h2style">I create fun stuff</h2>
    <div class="col-6 p-0">
      <h3 class="h3style">I'm a computer science student base on thailand. I have interest in full-stack development,
        datamining, machin learning, human-computer interactions,and everything in between. </h3>
    </div>
  </div>

</div>
