<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <div data-aos="fade-up">
    <h1 class="h1style ">./ creation</h1>
  </div>
  <div data-aos="fade-up">
    <h3 class="h3style ">My Github :
      <a href="https://github.com/Chayanonjackal" target="_blank" style="color: white; ">
        <i class="pi pi-github" style="font-size: 1.25em;"></i>
      </a>
    </h3>
  </div>
  <br>
  <div data-aos="fade-up" class="grid">
    <div class="col p-0 ">
          <p-card header="Simple Card"  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
            <!-- <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </p-card>
        <p-card header="Simple Card"  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
          <!-- <ng-template pTemplate="header">
              <img alt="Card" src="assets/showcase/images/usercard.png">
          </ng-template> -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
      </p-card>
  </div>

</div>
