.area{
  /* background-color: aqua; */
    height: auto;
    /* height: 100vh; */
  /* height: auto; */
  padding-top: 5%;
  padding-left: 15%;
}

:host ::ng-deep .p-card-body {
  background: #112240;
  border-radius: 0.25em;
  border: solid;
  border-color: aqua;
  /* height: 20em; */
  /* height: 100em; */
}
:host ::ng-deep .p-card-content{
  /* height: fit-content; */
  /* height: 1em; */
}

.styleLink{
  color: aqua;
  font-weight: bold;
  text-decoration-line: blink;
  /* outline-style: dashed; */
}

/* :host ::ng-deep .p-card .p-card-body {
  padding: 1.25rem;
  background: aquamarine;
} */



.h1style{
  color: white;
  font-size: 4em;
  /* padding: 0em; */
  margin: 0em;

}
.h2style{
  color: gray;
  font-size: 2.5em;
  /* padding: 0em; */
  margin: 0em;
}

.h3style{
  color: gray;
  margin: 0em;
}

.imgStyle{
  width: 15em;
  height: auto;
  border-radius: 2em;
  border: 0.3rem solid;
  border-color: aquamarine;
  /* border-color: aquamarine; */
  /* box-shadow: 2em; */

}
.imgDivStyle{
  /* padding-left: 10em; */
  /* border-radius: 5em; */
}

.rowPosition{
    display: flex;
    column-gap: 1em;
}

.detailContent{
  text-overflow: ellipsis;
  overflow: hidden;
  /* color: red; */
}
