<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <div data-aos="fade-up">
    <h1 class="h1style ">./ creation</h1>
  </div>
  <div data-aos="fade-up">
    <h3 class="h3style ">My Github :
      <a href="https://github.com/Chayanonjackal" target="_blank" style="color: white; ">
        <i class="pi pi-github" style="font-size: 1.25em;"></i>
      </a>
    </h3>
  </div>
  <br>
  <div data-aos="fade-up" class="grid">
    <div class="col p-0 rowPosition">
      <a class="styleLink" target="_blank" href="http://www.das-cs-rmutt.com/login">
        <p-card header="DAS-CS"  [style]="{'width': '20rem', 'margin-bottom': '2em' }">
          <!-- <ng-template pTemplate="header">
            <img alt="Card" src="assets/showcase/images/usercard.png">
          </ng-template> -->
          <div style="height: 10em;" class="detailContent">
            <p class="detailContent">I'm build "DAS-CS" (Decision Assistant system for Student admission in Computer Science
              Rajamangala) it's web application use Microsoft AZURE to predict student admission to study at RMUTT
              with datamining technique.  </div>
            </p-card>
      </a>
      <a class="styleLink"  target="_blank" href="https://github.com/Chayanonjackal/CafeBot">
        <p-card header="CafeBot"  [style]="{'width': '20rem', 'margin-bottom': '2em'}">
          <!-- <ng-template pTemplate="header">
            <img alt="Card" src="assets/showcase/images/usercard.png">
          </ng-template> -->
          <div style="height: 10em;" class="detailContent">
            <p>It's discord bot (discordJs) to role play to be coffee maker is resive order from user and send that to database MangoDB and send to
              coffee maker channel </p>
          </div>
            </p-card>
      </a>
      <!-- <div  style="border-style: solid; width: 5em;">
        asodasdad
        <p class="detailContent">asdasdasdasdasdasdasdadasdasdasdasdadasdsa</p>
      </div> -->
  </div>

</div>
