<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <div data-aos="fade-up">
    <h1 class="h1style ">./ about me</h1>
  </div>
  <div data-aos="fade-up" class="grid">
    <div class="col-6 p-0">
      <div class="col p-0">
        <h3 class="h3style ">I'm currently studying <b style="color: aliceblue;">Computer Science</b> at <b
            style="color: aliceblue;">Rajamangala University of Technology Thanyaburi</b> , with a focus in Software
          System ,Website and Datamining. Last year, I was on a 6 month internship at <b style="color: aqua;">CDGS</b>
          as a programer</h3>
      </div>
      <br>
      <div class="col p-0">
        <h3 class="h3style ">My other areas of interest include <b style="color: aliceblue;">machine learning, Datamining, frontend development and
          backend development</b>.I also like my video editing.In my free time, I play basketball and play video games. </h3>
      </div>
      <br>
      <div class="col p-0">
        <h3 class="h3style ">Here are some technologies I have been working with:</h3>
        <ul class="b h3style">
          <li>Javascript ES6+</li>
          <li>Node.js</li>
          <li>Angular</li>
          <li>Java</li>
          <li>HTML & CSS</li>
        </ul>
      </div>
      <br>
    </div>
    <div class="col-4 pl-6 imgDivStyle">
      <img class="imgStyle" src="../../../assets/images/me.jpg" alt="">
    </div>
  </div>

</div>
