<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <div data-aos="fade-up">
    <h1 class="h1style ">./ experience</h1>
  </div>
  <div data-aos="fade-up" class="grid">
    <p-tabView styleClass="color-panel" class="col-6">
      <p-tabPanel header="CDGS">
        <h2 style="color: gainsboro; ">Programer @ <b class="green">CDGS</b></h2>
        <p style="color: grey;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorum necessitatibus, odit doloremque
          sequi sit tenetur quibusdam laudantium eveniet eaque adipisci laboriosam nostrum saepe debitis veritatis totam
          officia ut accusamus?</p>
      </p-tabPanel>
      <p-tabPanel header="Header 2">
        <h2 style="color: gainsboro; ">Programer @ <b class="green">CDGS</b></h2>
        <p style="color: grey;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolorum necessitatibus, odit doloremque
          sequi sit tenetur quibusdam laudantium eveniet eaque adipisci laboriosam nostrum saepe debitis veritatis totam
          officia ut accusamus?</p>
      </p-tabPanel>
      <!-- <p-tabPanel header="Header 3">
          Content 3
      </p-tabPanel> -->
    </p-tabView>
    <!-- <p-panel header="Title" class="">
    Content
  </p-panel> -->

  </div>

</div>
