<div class="area">
  <!-- <div class="col-12">lo</div> -->
  <div data-aos="fade-up">
    <h1 class="h1style ">./ experience</h1>
  </div>
  <div data-aos="fade-up" class="grid">
    <p-tabView styleClass="color-panel" class="col-6">
      <p-tabPanel header="CDGS">
        <h2 style="color: gainsboro; ">Programer @ <b class="aqua">CDGS</b></h2>
        <p style="color: grey;">I was on a 6 month internship at CDGS as a programer to develop website
          frontend(Angular) and backend(Java) to create website is customer require</p>
      </p-tabPanel>
      <p-tabPanel header="RMUTT">
        <h2 style="color: gainsboro; ">Software Engineer @ <b class="aqua">RMUTT</b></h2>
        <p style="color: grey;">I'm build <a class="styleLink" href="http://www.das-cs-rmutt.com">"DAS-CS"</a> (Decision Assistant system for Student admission in Computer Science
          Rajamangala) it's web application use Microsoft AZURE to predict student admission to study at RMUTT
          with datamining technique </p>
          <!-- <button pButton pRipple id="buttonLink" type="button" label="Secondary" class="p-button-rounded p-button-secondary" (onClick)="link()"></button> -->

      </p-tabPanel>
      <!-- <p-tabPanel header="Header 3">
          Content 3
      </p-tabPanel> -->
    </p-tabView>
    <!-- <p-panel header="Title" class="">
    Content
  </p-panel> -->

  </div>

</div>
